<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yoursecondworld.secondworld">

    <!-- 网络的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".modular.guide.ui.GuideAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".modular.login.ui.LoginAct" />
        <activity android:name=".modular.personInfo.EditPersonInfoAct" />
        <activity android:name=".modular.register.ui.RegisterAct" />
        <activity android:name=".modular.userAgreement.UserAgreementAct"></activity>
        <activity android:name=".modular.forgetPassword.ForgetPasswordAct"></activity>
        <activity android:name=".modular.selectGame.ui.SelectGameAct"></activity>
    </application>

</manifest>